[
	{mosaic_riak_kv, [
		{identifier, undefined},
		{group, "9cdce23e78027ef6a52636da7db820c47e695d11"}]},
	
	{mosaic_component, [
		{callbacks, mosaic_riak_kv_callbacks},
		{harness_input_descriptor, undefined},
		{harness_output_descriptor, undefined}]},
	
	{riak_core, [
		{ring_state_dir, "/tmp/mosaic/components/mosaic-riak-kv/__identifier__/ring"},
		{http, [{"127.0.0.1", 8098}]},
		{handoff_port, 8099}]},
	
	{riak_kv, [
		{pb_ip, "127.0.0.1"},
		{pb_port, 8087},
		{raw_name, "riak"},
		{mapred_name, "mapred"},
		
		{storage_backend, riak_kv_bitcask_backend},
		
		{mapred_queue_dir, "/tmp/mosaic/components/mosaic-riak-kv/__identifier__/mapred" },
		{mapper_batch_size, 5},
		{map_cache_size, 10000},
		
		{map_js_vm_count, 2},
		{reduce_js_vm_count, 1},
		{hook_js_vm_count, 1},
		{js_max_vm_mem, 8},
		{js_thread_stack, 16},
		{riak_kv_stat, true}
	]},
	
	{bitcask, [
		{data_root, "/tmp/mosaic/components/mosaic-riak-kv/__identifier__/bitcask"}]},
	
	{luwak, [
		{enabled, false}]},
	
	{riak_err, [
		{term_max_size, 65536},
		{fmt_max_bytes, 65536}]},
	
	{kernel, [
		{error_logger, tty}]},
	
	{sasl, [
		{sasl_error_logger, false},
		{errlog_type, error}]},
	
	{os_mon, [
		{start_cpu_sup, true},
		{start_memsup, true},
		{start_disksup, true},
		{start_os_sup, true}]}
].
