[
	{mosaic_riak_kv, [
		{identifier, "0000000000000000000000000000000000000000"},
		{group, "9cdce23e78027ef6a52636da7db820c47e695d11"}]},
	
	{mosaic_component, [
		{callbacks, mosaic_riak_kv_callbacks},
		{harness_input_descriptor, undefined},
		{harness_output_descriptor, undefined}]},
	
	{riak_core, [
		{http, [{undefined, undefined}]},
		{handoff_ip, undefined},
		{handoff_port, undefined},
		{ring_state_dir, "./data/ring"},
		{slide_private_dir, "./data/slide"}]},
	
	{riak_kv, [
		{pb_ip, undefined},
		{pb_port, undefined},
		{raw_name, "riak"},
		{mapred_name, "mapred"},
		{riak_kv_stat, true},
		{storage_backend, riak_kv_bitcask_backend},
		{mapred_queue_dir, "./data/mapred"},
		{mapper_batch_size, 5},
		{map_cache_size, 10000},
		{map_js_vm_count, 2},
		{reduce_js_vm_count, 1},
		{hook_js_vm_count, 1},
		{js_max_vm_mem, 8},
		{js_thread_stack, 16}]},
	
	{bitcask, [
		{data_root, "./data/bitcask"}]},
	
	{luwak, [
		{enabled, false}]},
	
	{riak_err, [
		{term_max_size, 65536},
		{fmt_max_bytes, 65536}]},
	
	{kernel, [
		{error_logger, tty}]},
	
	{sasl, [
		{sasl_error_logger, tty},
		{errlog_type, error},
		{utc_log, true}]},
	
	{os_mon, [
		{start_cpu_sup, true},
		{start_memsup, true},
		{start_disksup, true},
		{start_os_sup, true}]}
].
